<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="/index.css" />
        <script src="/kaskade.js"></script>
        <script src="/index.js"></script>
        <title>Kaskade 0.4 Multi Room Forum Example</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    </head>
    
    <body onload="initiaizeApp()">
        
        <div class="body-wrap">
            <div class="body">
                
                <span data-k.unless="currentUser.logged_in">
                    <element data-k.render="splash.template" data-k.context="splash"></element>
                </span>
                
                <span data-k.if="currentUser.logged_in">
                    
                    <span data-k.unless="openRoom">
                        <element data-k.render="createRoomForm.template" data-k.context="createRoomForm"></element>
                        <element data-k.list="rooms.items" data-k.template="RoomListItem"></element>
                    </span>
                    
                    <span data-k.if="openRoom">
                        <element data-k.render="openRoom.template" data-k.context="openRoom"></element>
                    </span>
                    
                </span>
                
            </div>
        </div>
        <div class="header">
            <span data-k.html="headerTitle.value"></span>
            <div class="left button" data-k.if="openRoom">
                <span data-k.click="closeRoom">&lt;</span>
            </div>
            <div class="right button" data-k.if="currentUser.logged_in">
                <span data-k.click="logout">Log out</span>
            </div>
        </div>
        <div class="footer">Footer</div>
        
        <!-- TEMPLATES -->
        
        <!-- MESSAGE-FORM -->
        <script id="MessageForm" type="template">
            <div class="panel">
                <div class="title">
                    New Message
                </div>
                <div>
                    <form data-k.event="submit:submit">
                        
                        <div>
                            <label class="form-field">
                                <textarea data-k.value="data"></textarea>
                            </label>
                        </div>
                        
                        <div>
                            <label class="form-button">
                                <input type="submit" value="Send"/>
                            </label>
                        </div>
                        
                    </form>
                </div>
            </div>
        </script>
        <!-- /MESSAGE-FORM -->
        
        <!-- MESSAGE -->
        <script id="Message" type="template">
            Hello
        </script>
        <!-- /MESSAGE -->
        
        <!-- ROOM -->
        <script id="Room" type="template">
            <!--<div class="panel">
                <div class="title" data-k.html="title"></div>
            </div>-->
            <element data-k.render="messageForm.template" data-k.context="messageForm"></element>
            <element data-k.list="messages.items" data-k.template="Message"></element>
        </script>
        <!-- /ROOM -->
        
        <!-- ROOM-LIST-ITEM -->
        <script id="RoomListItem" type="template">
            <div class="panel" data-k.click="open">
                <div class="title" data-k.html="title"></div>
            </div>
        </script>
        <!-- /ROOM-LIST-ITEM -->
        
        <!-- CREATE-ROOM-FORM -->
        <script id="CreateRoomForm" type="template">
            <div class="panel">
                <div class="title">
                    Create a new room
                </div>
                <div>
                    <form data-k.event="submit:submit">
                        
                        <div>
                            <label class="form-field">
                                <input type="text" data-k.value="title" data-k.attr="value:title" placeholder="Title" />
                                <span>Title</span>
                            </label>
                        </div>
                        
                        <div>
                            <label class="form-button">
                                <input type="submit" value="Create New Room"/>
                            </label>
                        </div>
                        
                    </form>
                </div>
            </div>
        </script>
        <!-- /CREATE-ROOM-FORM -->
        
        <!-- SPLASH -->
        <script id="Splash" type="template">
            <span data-k.if="login">
                <element data-k.render="loginForm.template" data-k.context="loginForm"></element>
            </span>
            <span data-k.unless="login">
                <element data-k.render="signupForm.template" data-k.context="signupForm"></element>
            </span>
        </script>
        
        <script id="LoginForm" type="template">
            <div class="panel">
                <a href="#" data-k.click="$parent.setSignup">Sign Up</a>
                <div>
                    <form data-k.event="submit:submit">
                        
                        <div>
                            <label class="form-field">
                                <input type="text" data-k.value="email" data-k.attr="value:email" placeholder="Email" />
                                <span>Email</span>
                            </label>
                        </div>
                        
                        <div>
                            <label class="form-field">
                                <input type="password" data-k.value="password" data-k.attr="value:password" placeholder="Password" />
                                <span>Password</span>
                            </label>
                        </div>
                        
                        <div>
                            <label class="form-button">
                                <input type="submit" value="Log In"/>
                            </label>
                        </div>
                        
                    </form>
                </div>
            </div>
        </script>
        
        <script id="SignupForm" type="template">
            <div class="panel">
                <a href="#" data-k.click="$parent.setLogin">Login</a>
                <div>
                    <form data-k.event="submit:submit">
                        
                        <div>
                            <label class="form-field">
                                <input type="text" data-k.value="email" data-k.attr="value:email" placeholder="Email" />
                                <span>Email</span>
                            </label>
                        </div>
                        
                        <div>
                            <label class="form-field">
                                <input type="password" data-k.value="password" data-k.attr="value:password" placeholder="Password" />
                                <span>Password</span>
                            </label>
                        </div>
                        
                        <div>
                            <label class="form-field">
                                <input type="password" data-k.value="password_conf" data-k.attr="value:password_conf" placeholder="Confirm Password" />
                                <span>Confirm Password</span>
                            </label>
                        </div>
                        
                        <div>
                            <label class="form-button">
                                <input type="submit" value="Sign Up"/>
                            </label>
                        </div>
                        
                    </form>
                </div>
            </div>
        </script>
        <!-- /SPLASH -->
        
    </body>
</html>